.app {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.app-nav {
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
}

.app-header, a {
  color: black;
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-decoration: none;
}

.app-header a:hover {
  color: coral;
}

.app-main {
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}